@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "Layout.cshtml";
}
<div class="row">
	<p>
		메인페이지입니다.
	</p>
	<p>
		<a href="/designer/add">디자이너 추가</a>
	</p>
	<p>
		<a href="/product/add">신규 상품 추가</a>
	</p>
</div>

@section Css
{
}

@section Javascript
{
}