@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "Layout.cshtml";
}
<div class="row">
	<h2>상품 등록</h2>
	<div>
		<p>
			<span>타입1</span>
			<input type="text" id="type1" />
		</p>
		<p>
			<span>타입2</span>
			<input type="text" id="type2" />
		</p>
		<p>
			<span>상품명</span>
			<input type="text" id="product-name" />
		</p>
		<p>
			<span>기본단가</span>
			<input type="text" id="unit-price" />
		</p>
		<p>
			<button id="btn-add-product">추가</button>
		</p>
	</div>
</div>

@section Css
{
}

@section Javascript
{
<script type="text/javascript">
	$(document).ready(function () {
		$('#btn-add-product').click(function () {
			$.post('/product/add',
			{
				type1: $('#type1').val(),
				type2: $('#type2').val(),
				productName: $('#product-name').val(),
				unitPrice: $('#unit-price').val()
			},
			function (data, status, xhr) {
				alert(data + ', ' + status);
			});
		});
	});
</script>

}